html {
    width: 100vw;
    height: 100vh;
    align-items:center
  }

body {
    width: 100vw;
    height: auto;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    overflow: scroll; 
    background-image: url("../image/rat/oceanbackgroung.png") ;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
.game-board { 
    position:relative;
    margin: 0 auto;
    height:90vw;
    width: 90vw;
    max-width: 500px;
    max-height: 500px; 
  } 
 
  #start {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    margin: 5% auto;
    padding: 10px 0;
    font-size: 16px;
    width: 20%;
    height: 5%;
    top: auto;
    max-width: 100px;
    max-height: 50px;
    min-width: 50px;
    min-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden;
  }
  img{
    width: 100%;
    height: 100%;
  }
  
  #myAudio {
  display: none;
}
.popup-container {
    background-image: url("../image/rat/marineborder.png");  
    background-size:100% 100%;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 9999;
    width: 80vw; /* 調整寬度 */
    height: 80vw; /* 調整高度 */
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    border-width:3px;
    border-color:black;
    border-radius: 10px;
    justify-content: center;
  }
  #clsbtn {
    position: absolute;
    bottom: 5vh;
    max-width: 250px;
  }
  
  #ex{
      height: 10vh; 
      width: 10vh;
  }
  #illustrate{
      position: absolute;
      right: 10px;
      top: 10px;
  }
  #explain{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  #title{
    width: 40vw;
    max-width: 300px;
    display:flexbox;
  }

  @media (min-aspect-ratio: 2/1) and(max-width:600px){
    .game-board { 
        position:relative;
        margin: 0 auto;
        max-width:60vh;
        max-height: 60vh;   
        height:90%;
        width: 80%;
      } 
  }